.Main .navbar {
    padding: 0 24px;
    display: flex;
    height: 56px;
    background-color: #fff;
    align-items: center;
}

.spacer {
    flex: 1 1 100%;
}


.Main .navbar .menu {
    font-size: 20px;
    font-weight: bold;
}

.Main .navbar .brand {
    font-size: 20px;
    font-weight: bold;
}

.Main .page {
    padding: 40px 0;
}

.Main .term-card {
    background: #fff;
    padding: 24px;
    border-radius: 4px;
    margin-bottom: 16px;
}

.Main .term {
    font-weight: 400;
}

.Main .definition {
    color: #555;
    font-size: 16px;
    font-style: italic;
}

.Main .choice {
    position: relative;
    padding: 12px;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 8px;
}

.Main .choice .icon-check_circle {
    position: absolute;
    right: 12px;
}


.Main .new-term {
    position: relative;
    padding: 12px;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 12px;
}

.Main .new-term input {
    margin-right: 20px;
    border-width: 0;
    border-bottom-width: 1px;
}

.Main .new-term .add-term {
    position: absolute;
    right: 12px;
    top: 17px;
    margin: 0;
    font-size: 20px;
}

.Main .submit {
    display: block;
    margin: 0 auto;
    padding: .56em 2.2em;
}
